# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_TO_LEFT
	def_bool $(shields_list_contains,to_left)

config SHIELD_TO_RIGHT
	def_bool $(shields_list_contains,to_right)

config SHIELD_TO_DONGLE
	def_bool $(shields_list_contains,to_dongle)
